Options -Indexes
Options -Multiviews

# Unicas reglas que se aplican en hostinger
RewriteEngine On
RewriteBase /gpsgt//public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]